<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>cucumber</td><td>SampleCucumberTest.feature(cucumber.api.testng.CucumberFeatureWrapper)[pri:0, instance:com.selenium.CucumberTest.SampleCucumberTest@551aa95a]<br/></td></tr>
</table>
