<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ac9a89">  <td>19/01/28 13:01:30</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;BaseCucumberTest.StartTest()[pri:0, instance:com.selenium.CucumberTest.SampleCucumberTest@551aa95a]">&gt;&gt;StartTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@489279267</td>   <td></td> </tr>
<tr bgcolor="60df86">  <td>19/01/28 13:02:00</td>   <td>29767</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SampleCucumberTest.setUpClass()[pri:0, instance:com.selenium.CucumberTest.SampleCucumberTest@551aa95a]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@489279267</td>   <td></td> </tr>
<tr bgcolor="60df86">  <td>19/01/28 13:02:01</td>   <td>30576</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SampleCucumberTest.feature(cucumber.api.testng.CucumberFeatureWrapper)[pri:0, instance:com.selenium.CucumberTest.SampleCucumberTest@551aa95a]">feature</td> 
  <td>main@489279267</td>   <td></td> </tr>
<tr bgcolor="60df86">  <td>19/01/28 13:02:26</td>   <td>55532</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SampleCucumberTest.tearDownClass()[pri:0, instance:com.selenium.CucumberTest.SampleCucumberTest@551aa95a]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@489279267</td>   <td></td> </tr>
<tr bgcolor="ac9a89">  <td>19/01/28 13:02:26</td>   <td>55539</td> <td>&nbsp;</td><td title="&lt;&lt;BaseCucumberTest.EndTest()[pri:0, instance:com.selenium.CucumberTest.SampleCucumberTest@551aa95a]">&lt;&lt;EndTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@489279267</td>   <td></td> </tr>
</table>
