<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="dafa95">  <td>18/12/13 14:22:13</td>   <td>0</td> <td title="&lt;&lt;SampleTest.EndTest()[pri:0, instance:com.selenium.Test.SampleTest@5bc79255]">&lt;&lt;EndTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="dafa95">  <td>18/12/13 14:22:13</td>   <td>-742</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SampleTest.SeleniumTest()[pri:0, instance:com.selenium.Test.SampleTest@5bc79255]">SeleniumTest</td> 
  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="dafa95">  <td>18/12/13 14:21:57</td>   <td>-16261</td> <td title="&gt;&gt;SampleTest.StartTest()[pri:0, instance:com.selenium.Test.SampleTest@5bc79255]">&gt;&gt;StartTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
</table>
